<div class="page-header">
  <h3>{{post.title}} - <a ng-href="#/users/{{post.user.username}}">{{post.user.username}}</a></h3>
</div>

<div>
  <span style="font-size:20px; margin-left:10px;">
    {{post.content}}
  </span>
</div>

<br/>

<table class="table table-striped table-hover">
  <tbody>
    <tr ng-repeat="comment in post.comments">
      <td class="comment-username">
          <a ng-href="#/users/{{post.user.username}}">{{comment.user.username}}</a>
      </td>
      <td class="comment-body">
          {{comment.body}}
      </td>
      <td class="actions">
          <a class="btn btn-primary" ng-click="destroyComment(post.id, comment.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<form class="form-horizontal" ng-submit="addComment()" style="margin-top:30px;">
  <h3>Add a new comment</h3>

  <div class="form-group">
    <textarea id="body" class="form-control" ng-model="body"></textarea>
  </div>

  <div>
    <a href="#/home" class="btn btn-default">Back</a>
    <button type="submit" class="btn btn-primary">Post</button>
  </div>
</form>